<div class="mainmenu">
    <div class="main-manu__inner">
        <div class="main-menu-list container">
            <div class="main-menu-over">
                <ul class="main-menu-over__menu">
                    <li class="main-menu-over__item">                        
                        <a href="" class="main-menu-list__link">
                            <span>Cars</span>
                        </a>
                    </li>
                    <li class="main-menu-over__item">
                        <a href="" class="main-menu-list__link">
                            <span>
                                Trucks
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>