<div class="container-fluid">
    <div class="wrapper-footer">
        <div class="footer__top">
            <div class="subscribe">
                <div class="subscribe__title">
                    Subscrive to our newsletter
                </div>
                <div class="subscribe__enter-mail">
                    <img src="../../assets/Images/mail.png" alt="" class="subscribe__img">
                    <div class="subscribe__text">
                        <input type="text" value="your@email.com">
                    </div>
                    <div class="subscribe__button">
                        <button>
                            <div class="subscribe__button-text">
                                  SUBSCRIBE
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__rectangle"></div>
        <div class="footer__bottom">
            <div class="footer__bottom-column">
                <div class="footer__bottom-title">
                    Ipsum quis
                </div>
                <ul class="footer__bottom-list">
                    <li class="footer__bottom-list-item">Aliquam quiss</li>
                    <li class="footer__bottom-list-item">Pulvinar pusus</li>
                    <li class="footer__bottom-list-item">etia</li>
                    <li class="footer__bottom-list-item">Ipsum</li>
                    <li class="footer__bottom-list-item">Emim</li>
                </ul>
            </div>
            <div class="footer__bottom-column">
                <div class="footer__bottom-title">
                    Ipsum quis
                </div>
                <ul class="footer__bottom-list">
                    <li class="footer__bottom-list-item">Aliquam quiss</li>
                    <li class="footer__bottom-list-item">Pulvinar pusus</li>
                    <li class="footer__bottom-list-item">etia</li>
                    <li class="footer__bottom-list-item">Ipsum</li>
                    <li class="footer__bottom-list-item">Emim</li>
                </ul>
            </div>
            <div class="footer__bottom-column">
                <div class="footer__bottom-title">Fallow us
                </div>
                <div class="footer__bottom-list">
                    <img src="../../assets/Images/facebook.png" alt="" class="footer__bottom-list-item">
                    <img src="../../assets/Images/twitter.png" alt="" class="footer__bottom-list-item">
                    <img src="../../assets/Images/google.png" alt="" class="footer__bottom-list-item">
                    <img src="../../assets/Images/youtube.png" alt="" class="footer__bottom-list-item">
                </div>
                <div class="fotter__bottom-rights">Copyright © All Rights reserved</div>
            </div>
                
        </div>
    </div>
</div>