<div class="authentication-zone" *ngIf="!registerComplited">
    <div class="authentication-zone__register">
        <a class="btn btn-warning btn-sm glyphicon glyphicon-user" routerLink="/register" href="">
            <span>Registration</span>
        </a>
    </div>
    <div class="authentication-zone__login">
        <div class="authentication-zone__login-button">
            <a class="btn btn-success btn-sm glyphicon glyphicon-user" routerLink="/login" href="">
                <span>Login</span>
            </a>
        </div>
    </div>
</div>
<div class="complited-zone" *ngIf="registerComplited">
    <div class="complited-zone__user">        
        <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{userName}}
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="">MyRoom</a>
                <a class="dropdown-item" href="">Orders</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" (click)="Logout()">Logout</a>
            </div>
        </div>
    </div>

</div>