

.shop-data__shop{
    padding: 0;
}
.shop-data__phone{
    padding: 0;
}
.shop-data__phone-img{
    padding: 0;
}
.shop-data__phone-phone{
    padding: 10 0 0 0;
}

.shop-data__phone-img img{
    height: 20px;
    width: 20px;
}

.header__authentication-component{
    padding: 0;
}
.authentication-zone{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.authentication-zone__register{
    margin-right: 10px; 
}

.authentication-zone__register a:link{
    color: #646464;
}

 .authentication-zone__login{
    padding: 0;
    display: flex;
    justify-content: space-between;    
}
.authentication-zone__login-button{
    background-color: #7398af;
}

.authentication-zone__login-button img{
    width: 14px;
    height: 14px;
    margin-left: 5px;
    margin-right: 2px;
}
.authentication-zone__login-button button{
    background: transparent;
    border: none;
    color: white;
}