<div class="container">
    <div class="header__top">
        <div class="row">
            <div class="header__shop-data col-md-6">
                <h5>Stret pupkin yasia 5</h5>
            </div>
            <div class="header__authentication-component authentication-zone col-md-6">
                <div class="authentication-zone__register col-md-6">
                    <a href="">Registration</a>
                </div>
                <div class="authentication-zone__login col-md-6">
                    <div class="authentication-zone__login-button">
                        <img src="" alt="">
                        <button type="button" class="btn btn-primary">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header__bottom">
        <div class="row">
            <div class="logo col-md-2">
                <a href="" class="logo__link">
                    <img title="" class="logo__header" src="" alt="">
                </a>
            </div>
            <div class="header__search col-md-7">
                <!-- getPostMethod -->
                <input type="text" class="header-search__search-input">
                <input type="text" name="" class="header-search__search-submit-button">
            </div>
            <div class="shop-functions col-md-3">
                <a href="" class="shop-functions__cart">
                    <img src="" alt=""> Cart
                </a>
                <a href="" class="shop-functiond__orders">
                    <img src="" alt=""> Orders
                </a>
            </div>

        </div>
    </div>
</div>