<div class="container">
    <div class="header__top">
        <div class="row">
            <div class="header__shop-data shop-data col-md-6">
                <div class="shop-data__shop col-md-3">
                    Saint-Petergurg
                    <input [ngModel]="userName" (ngModelChange)="onNameChange($event)" />
                </div>
                <div class="shop-data__phone col-md-6">
                    <div class="shop-data__phone-img col-md-1">
                        <img src="../../assets/Images/phone.svg" alt="">
                    </div>
                    <div class="shop-data__phone-phone col-md-8">
                        <p>+7(959)1488-1488</p>
                    </div>

                </div>
            </div>
            <div class="header__authentication-component col-md-6">
                <div class="authentication-zone">
                    <div class="authentication-zone__register">
                        <a routerLink="/register" href="">
                            <span>Registration</span>
                        </a>
                    </div>
                    <div class="authentication-zone__login">
                        <div class="authentication-zone__login-button">
                            <img src="../../assets/Images/user-white.svg" alt="">
                            <button type="button">
                                <span>Login</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header__bottom">
        <div class="search-panel row">
            <div class="logo col-md-2">
                <a href="" class="logo__link">
                    <img title="" class="logo__header" src="../../assets/Images/logo3.png" alt="">
                </a>
            </div>
            <div class="header__search col-md-6">
                <div class="header__serarch-block">
                    <!-- set PostMethod -->
                    <input type="text" class="header-search__search-input">
                    <button type="text" name="" class="header-search__search-submit-button">
                        <span>Search</span>
                    </button>
                </div>
            </div>
            <div class="shop-functions col-md-4">
                <div class="shop-functions-block-cart col-xs-3 col-xs-offset-4">
                    <a href="" class="shop-functions__cart glyphicon glyphicon-shopping-cart">
                        <span>Cart</span>
                    </a>
                </div>
                <div class="shop-functions-block-orders col-xs-4 col-xs-offset-1">
                    <a href="" class="shop-functiond__orders glyphicon glyphicon-folder-close">                        
                        <span>Orders</span> 
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>